#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}

body {
  background-color: lightblue;
}

form { 
margin: 0 auto; 
width:250px;
}

#map {
  border: thin solid black;
  height: 500px;
  width: 650px;
}